:root{
	--font-mont: 'Montserrat', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--color-navy: #0f1f44;
	--color-red: #961414;
	--color-tan: #F2E7D8;
	--color-yellow:#e2e56a;
	--color-sky: #55d3ff;
	--color-skylight:#dbf6ff;
	--color-neublue: #2c6a91;
	--color-neubluelight:#75B9E5;
}

body{
	font-family: var(--font-mont);
}

/**** GENERAL CONTENT ***/

section{
	padding: 30px 0px;
}
.row{
	margin:5px 0px;
	padding:0px 20px;
	width: 100%;
}

.navbar-stripe{
	background-color: var(--color-red);
	font-family: var(--font-oswald);
	color:var(--color-tan);
}

.navbar-stripe .nav{
	justify-content: space-evenly;
	flex-grow: 1;
}



a{
	color:var(--color-neublue);
}
a:hover{
	text-decoration: none;
	color: var(--color-neubluelight);
	cursor: pointer;
}
/*** TODO: GET HAETTENSCHWEILER FONT***/
.navbar-stripe{
	position:sticky;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.navbar-stripe li{
	position: relative;
}
.navbar-stripe a{
	color:white;
	font-size: 30px;
	font-weight: bold;
	transition: color .3s;
}
.navbar-stripe a::before{
	content: "\2605";
	transition: opacity .3s;
	position: absolute;
	left:-1em;
	top:-1px;
	opacity: 0;
}

.navbar-stripe a:hover::before, .navbar-stripe .active a::before{
	transition: opacity .3s;
	opacity: 1.0;
}

/**** BANNER CONTENT ****/
section.banner, section.footer{
	background-color: var(--color-navy);
	padding:20px 0px;
}

.statistic span{
	color:var(--color-sky);
	text-align: end;
}

.banner .icon{
	width:18em;
}

.banner .icon img{
	width:100%;
}

.banner .statistic{
	padding-top: 20px;
	padding-left:35px;
	font-size: 25px;
}

.banner .tagline{
	color:white;
	font-size: 30px;
	font-weight: bold;
	/*padding-right:12%;*/
	line-height: 1;
}

.logo{
	width:100%;
	font-family: var(--font-oswald);
	color:var(--color-yellow);
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1;
}
.logo span{
	font-size: .5em;
	text-transform: lowercase;
	color:var(--color-tan);
	vertical-align: middle;
}

/**** SECTION CONTENT ****/
section .section-title{
	text-align: center;
	font-weight: bolder;
	margin-bottom: 40px;
}

.emphasized{
	font-weight: bolder;
	color:var(--color-red);
}


.fact-sheet{
	display: block;
}

.fact-sheet .did-you-know{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-right:2px solid #ddd;
}
.fact-sheet h1{
	font-weight: bold;
}

.fact-list{
	font-size:20px;
}

.fact-list li{
	margin:10px 0px;
}

.mission{
	background-color: var(--color-tan);
	font-size: 18px;
}

/**** OUR TEAM ***/
section.our-team{
	background-color:var(--color-neublue);
	color:white;
}
.team-member{
	flex: 33%;
	justify-content: center;
	display: inline-block;
	text-align: center;
}

img.team-portrait{
	width:300px;
	border-radius: 50%;
	border:10px solid var(--color-red);
	margin-bottom: 20px;
}

.team-bio{
	background-color: var(--color-navy);
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	width: 80%
}

.team-bio .name{
	font-weight: bold;
}

.team-bio .title{
	font-style:italic;
}

/**** PAST EVENTS *****/
.year{
	display: inline-block;
}
.year .toggler{
	display: block;
	text-align: center;
}

.year .toggler .year-title{
	border-bottom: 2px solid #ddd;
	font-size: 40px;
	display: inline-block;
	cursor: pointer;
}

.year .toggler .year-title::after{
	display: inline-block;
	content:"\25BE";
	color:var(--color-red);
	transition:transform .5s;
	transform:rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.year.active .toggler .year-title::after{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: transform .5s, -webkit-transform .5s;
}

.past-events .year .event-lists{
	width: 100%;
	height: 0%;
	overflow:hidden;
	display: inline-block;
	transition: height .5s !important;
	transition-timing-function: ease;
}

.past-events .year .event-lists .event-card{
	visibility: hidden;
	height: 0px;
	transition: visibility 0s, height .5s;
	transition-delay: .5s, 0s;

}

.past-events .year.active .event-lists{
	height:100%;
	transition: height .5s;
}

.past-events .year.active .event-lists .event-card{
	visibility: visible;
	height:210px;
	overflow: hidden;
	transition-delay: 0s, 0s;
	margin: 20px 0px;
	padding:5px;
	border: 1px solid var(--color-red);
	border-radius:5px;
}

.past-events .event-card .main-image{
	width: 20%;
	height: 100%;
	float: left;
	display: flex;
	padding: 5px;
	border-right: 1px solid var(--color-red);
} 

.past-events .event-card .main-image img{
	width: 100%;
	object-fit: cover;
}

.past-events .event-card .details {
	display: inline-block;
	padding-left: 10px;
	width: 80%;
	height: 100%;
	position:relative;
}

.past-events .details .content{
	 text-overflow: ellipsis;
	 overflow:hidden;
	 -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 50%;

}

.past-events .event-card .details .title{
	font-size: 25px;
	color:var(--color-red);
	font-weight: bold;
}

.past-events .card-footer{
	position:absolute;
	background-color: var(--color-neublue);
	bottom:0;
	width: 97%;
	color:white;
	font-weight: bold;
	display: flex;
    justify-content: space-between;
    padding:5px;
}

.past-events .card-footer .date{
	display: flex;
	align-items:center;
}

.past-events .btn.read-more{
	background-color: var(--color-red);
	color:white;
}
.past-events .btn.read-more:hover{
	cursor:pointer;
	filter:brightness(1.2);	
}
/*** CALENDAR ***/
section.calendar{
	background-color: var(--color-tan);
}

/*** CONTACT US ****/

section.contact{
	background-color:var(--color-skylight);
}

.contact .form-group{
	width:50%;
}

.contact .form-group.message{
	width:100%;
}

.contact .form-control{
	border:none;
}

.contact .form-control:focus{
	box-shadow: 0 0 0 0.2rem var(--color-neublue);
	border:none;
}

.contact label{
	font-weight: bold;
	color:var(--color-neublue);
}

.contact .submit{
	background-color: var(--color-red);
	border:none;
	font-weight: bold;
	padding: .8rem 1.5rem;
}

.contact .submit:hover, .contact .submit:active, .contact .submit:focus{
	filter:brightness(1.2);	
	border:;
	box-shadow:none;
}

/**** FOOTER***/