<!DOCTYPE html>
<html ng-app="foodFourthIndex" lang = "en">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<head>
	<script 
	src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<script src="content/past-events-list.jsonp"></script>
<script src="js/app.js"></script>
<link rel="stylesheet" href ="resources/fonts/haettenschweiler.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="resources/fff-icon.png">
</head>
<body>
	<div class = "scroll-up"></div>
	<nav class ="navbar navbar-stripe navbar-expand-md" ng-controller="NavBar" data-ng-init="init()">
		<div class="container-fluid">
			<div class = "collapse navbar-collapse" id = "fffNavbar">
				<ul class = "nav navbar-nav">
					<li ng-class = "isActive('covid')"><a for = "covid" ng-click = "appNav($event)">Food Banks and COVID-19</a></li>
					<li ng-class = "isActive('mission')"><a for = "mission" ng-click = "appNav($event)">Our Mission</a></li>
					<li ng-class = "isActive('ourteam')"><a for = "ourteam" ng-click = "appNav($event)">Our Team</a></li>
					<li ng-class = "isActive('past-events')"><a for = "past-events" ng-click = "appNav($event)">Past Events</a></li>
					<!--TODO: build calendar section-->
					<!--<li class = "isActive('Calendar')"><a for = "calendar" ng-click = "appNav($event)">Calendar</a></li>-->
					<li ng-class = "isActive('contact')"><a for="contact" ng-click = "appNav($event)">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class = "banner">
		<div class = "row justify-content-center">
			<div class = "col-3 col-sm-4" style = "padding:0px;"><div class="icon"> <img src="resources/fff-icon.png"></div></div>
			<div class = "col-md-6 col-sm-8 tagline" style = "padding:0px">
				
				<div class = "logo"><div class = "expanded">Food </div><span class = "unexpanded">for the</span><div class = "expanded"> Fourth</div></div>
				
				<div class ="statistic"><span>40 million Americans</span> are food insecure.</div>
				
				<div class ="declaration"> Join the movement for <span class = "break">a new holiday spirit</span></div>
			</div>
		</div>
	</section>
	<section class = "covid" id="covid" name = "covid">
		<h1 class = "section-title" style = "color:var(--color-navy)">Food Banks During <span style = "color:var(--color-neublue)">COVID-19</span></h1>
		<div class="row justify-content-center">
			<div class = "col-lg-10 col-md-11" style = "font-size: 1.3em" >
				<p>Millions are out of work or struggling financially due to COVID-19. Children have lost access to their schools' food services months ahead of schedule.</p> 
					<p style ="font-size: 1.5em"><span class ="emphasized">Now more than ever, our fellow Americans need our help.</span> </p><p>However, <strong>hope is not lost.</strong> There are still several ways to support your community in this trying time.</p>
				<h5 style = "font-weight: bold">The following services are working to keep America fed during the pandemic while accepting monetary donations:</h5>
				<ul>
					<li><strong>Local Food Banks,</strong> check the website of your local food bank for information on making a monetary donation.</li>
					<li><strong><a href = "https://www.mealsonwheelsamerica.org/">Meals on Wheels</a></strong>, a delivery meal service for the elderly and underprivileged. Check to see if there is a local chapter for your community.</li>
					<li><strong><a href = "https://www.feedingamerica.org/">Feeding America</a></strong>, a major national network for food services across the USA.</li>
					<li><strong><a href = "https://www.30000acres.org/">F.A.R.M.S</a></strong>, a nonprofit that provides financial, legal, and educational support to small farms owned by people of color in rural areas. Their F.A.R.M.S to Food program provides produce purchased from these farmers to food banks in low-income rural areas.</li>
				</ul>
			</div></div>
	</section>
	<section class = "fact-sheet">
		<div class = "container-fluid">
			<div class ="row">
				<div class = "col-lg-5 col-md-12 did-you-know">
					<h1>Did you know?</h1>
				</div>
				<div class = "col-lg-6 col-md-12">
					<ul class = "fact-list">
						<li class = "statistic"><span>1 in 7 Americans</span> are served by food banks</li>
						<li class = "statistic"><span>72%</span> of food banks struggle to adequately serve their communities</li>
						<li class = "statistic"><span>12 million</span> food bank recipients are children</li>
						<li class = "statistic"><span>1 in 6</span> children with free and reduced lunches continue to receive meal services during vacation</li>
						<li class = "statistic">Food banks often see their<span> lowest donation rates of the year</span> in the summer months</li>
					</ul>
					<div class = "row justify-content-center citing">
						<div class = "sources">
							<p>"Hunger Statistics, Hunger Facts & Poverty Facts | Feeding America" Feeding America." Feeding America. http://feedingamerica.org/hunger-in-america/hunger-facts/hunger-and-poverty-statistics.aspx</p>
							<p>"Supporting a Local Food Bark." United We Serve. http://www.serve.gov/sites/default/files/food-bank.pdf. </p></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class = "mission" id = "mission" name ="mission">
		<h1 class = "section-title">Our Mission</h1>
		<div class="row justify-content-center">
			<div class = "col-lg-10 col-md-11">
				<p><span class ="emphasized">Food for the Fourth </span>was born from a little idea in the mind of a Girl Scout. Our founder, Rachel Pehrsson, was planning her Gold Award project at the <a href="https://lortonaction.org/" target='_blank'>Lorton Community Action Center food bank</a> when the then-director made an offhand comment: summer is by far the roughest time for donations. He attributed this trend to the lack of “giving holidays”&#151;meaning, in fall and winter, community members are motivated to donate thanks to Thanksgiving and Christmas. Summer, on the other hand, often leaves them running dry.  This is in spite of summer being the time many families need donations the most, as children are no longer getting food services from school.</p>
				<p><span class = "emphasized">Food for the Fourth</span> has a mission to turn the Fourth of July into the giving holiday that food banks need. We aim to spread awareness of the needs of food banks during the summer and promote events to garner support and donations. </p>
				<p style = "font-weight:bold; color:var(--color-navy)">We believe that the best way to express patriotism is through service and kindness towards our fellow man, and that every little bit of charity can make the country better, one can at a time. </p>
			</div>
		</div>
	</section>
	<!-- OUR TEAM -->
	<section class = "our-team" id = "ourteam" name = "ourteam">
		<h1 class = "section-title">Our Team</h1>
		<div class = "row  team">
			<div class = "team-member">
				<img class = "team-portrait" src="resources/rachel.jpg">
				<div class ="team-bio">
					<h2 class = "name">Rachel Pehrsson</h2>
					<h3 class = "title">Founder and President</h3>
				</div>
			</div>
			<div class = "team-member">
				<img class = "team-portrait" src="resources/eric.jpg">
				<div class ="team-bio">
					<h2 class = "name">Eric Leisure</h2>
					<h3 class = "title">Media Manager</h3>
				</div>
			</div>
			<div class = "team-member">
				<img class = "team-portrait" src="resources/emily.jpg">
				<div class ="team-bio">
					<h2 class = "name">Emily Curcio</h2>
					<h3 class = "title">Treasurer</h3>
				</div>
			</div>
		</div>
	</section>
	<!-- COMING SOON -- EVENTS AND CALENDAR-->
	<section class ="past-events" id = "past-events" name = "past-events" ng-controller = "PastEventsCtrl">
		<h1 class = "section-title">Past Events</h1>
		<div class = "row justify-content-center" >
			<div class = "col-lg-9 col-md-11 year justify-content-center" ng-repeat="year in past_events_by_year| year_reverse">
				<div class = "toggler">
					<div class = "year-title" ng-click = "showYear($event)">{{ year }}</div>
				</div>
				<div class = "event-lists">
					<div class = "event-card unfocused" ng-repeat="event in past_events_by_year[year]">
						<div class = "main-image" ng-show = "event_ids_to_data[event].main_image != ''"><img ng-src="{{ event_ids_to_data[event].main_image }}"></div>
						<div class ="details">
							<div class = "title">{{ event_ids_to_data[event].title }}</div>
							<div class = "content" ng-bind-html ="render(event_ids_to_data[event].description)"></div>
							<div class = "card-footer">
								<div class = "date">{{event_ids_to_data[event] | dateRange}}</div>
								<div class = "btn read-more" ng-click="eventFocus(event_ids_to_data[event])">Read More</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--<section class ="calendar" id="calendar" ng-controller="CalendarCtrl">
	<h1 class = "section-title">Calendar</h1>
</section>-->
<section class = "contact" id = "contact" ng-controller = "ContactCtrl">
	<h1 class = "section-title">Contact Us</h1>
	<div class = "row contact-form justify-content-center">
		<form class = "col-12  col-md-10 col-xl-5" id = "form" name = "form" valid-submit="submit()" novalidate>
			<div class = "row">
				<div class="form-group col-6">
					<label for="first-name">First Name</label>
					<input type="first-name" class="form-control" ng-class="{'has-error': form.$submitted && form.first.$invalid}" id="first-name" name = "first" ng-model = "contact.first"  placeholder="First"  required>
					<span class="alert" ng-show="form.$submitted && form.first.$error.required">Please include at least a first name</span>
				</div>
				<div class="form-group col-6">
					<label for="last-name">Last Name</label>
					<input type="last-name" class="form-control" id="last-name" name = "last-name" ng-model = "contact.last" placeholder="Last">
				</div>

				<div class="form-group col-12">
					<label for="email">Email address</label>
					<input type="email" class="form-control" ng-class = "{'has-error': form.$submitted && form.email.$invalid}" id="email" name = "email" ng-model = "contact.email" aria-describedby="emailHelp" placeholder="Enter email" required>
					<span class="alert" ng-show="form.$submitted && form.email.$error.required">Email is required.</span>
					<span class="alert" ng-show="form.$submitted && form.email.$error.email">Invalid Email address</span>
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group message col-12">
					<label for="message">Message</label>
					<textarea class="form-control" id="message" ng-class = "{'has-error': form.$submitted && form.message.$invalid}" name = "message" ng-model = "contact.message" rows="3" placeholder = "Send us a quick message!" required></textarea>
					<span class="alert" ng-show="form.$submitted && form.message.$error.required">Please include a quick message</span>
				</div>
				<div class ="col-12">
					<button type="submit" class="btn btn-primary submit">Submit</button>
					<span class = "successful" ng-show="successful">Thank you for your message! We will get back to you ASAP.</span>
				</div></div>
			</form>
		</div>
	</section>
	
	<section class = "footer">
		<div class = "row justify-content-end">
			<div  class = "icons"><a class="facebook" href = "https://www.facebook.com/foodforfourth/" target='_blank'></a><a class="instagram" href = "https://www.instagram.com/foodfourth/" target='_blank'></a></div></div>
		</section>
	</body>
	</html>

