:root{
	--font-mont: 'Montserrat', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--color-navy: #0f1f44;
	--color-red: #961414;
	--color-tan: #e7d6bf;
	--color-yellow:#e2e56a;
	--color-sky: #55d3ff;
	--color-neublue: #2c6a91;
}

body{
	font-family: var(--font-mont);
}

.navbar-stripe{
	background-color: var(--color-red);
	font-family: var(--font-oswald);
	color:var(--color-tan);
}

.navbar-stripe .nav{
	justify-content: space-evenly;
	flex-grow: 1;
}
/*** TODO: GET HAETTENSCHWEILER FONT***/
.navbar-stripe a{
	color:white;
	font-size: 30px;
	font-weight: bold;
}

/**** BANNER CONTENT ****/
section.banner{
	background-color: var(--color-navy);
	padding:20px 0px;
}

.statistic span{
	color:var(--color-sky);
	text-align: end;
}

.banner .statistic{
	padding-top: 20px;
	padding-left:35px;
	font-size: 25px;
}

.banner .tagline{
	color:white;
	font-size: 30px;
	font-weight: bold;
	padding-right:12%;
	line-height: 1;
}

.logo{
	width:100%;
	font-family: var(--font-oswald);
	color:var(--color-yellow);
	text-transform: uppercase;
	font-size: 3em;
	line-height: 1;
}
.logo span{
	font-size: .5em;
	text-transform: lowercase;
	color:var(--color-tan);
	vertical-align: middle;
}

/**** SECTION CONTENT ****/
section h1{
	text-align: center;
	font-weight: bolder;
}

.mission{
	background-color: var(--color-tan);
}

